{{!--<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="{{ meta.charset }}">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ meta.description }}">

        {{!--{{#if isDev}}--}}
            <link rel="stylesheet" href="/main.css">
        {{!--{{else}}--}}
            {{!--<link rel="stylesheet" href="//diploma.surge.sh/main.css">--}}
        {{!--{{/if}}--}}
    {{!--</head>
    <body>
        <p>{{{ message }}}</p>
        {{> header/header }}

        {{> footer/footer }}

        {{#if isDev}}
            <script src="/main.js"></script>
        {{else}}
            <script src="//diploma.surge.sh/main.js"></script>
        {{/if}}
    </body>
</html>--}}

{{#extend "base"}}
    {{#content "header"}}
        {{> header/header }}
    {{/content}}

    {{#content "body"}}
        {{> main_page_links/main_page_links }}
    {{/content}}

    {{#content "footer"}}
        {{> footer/footer }}
    {{/content}}
{{/extend}}
