<!DOCTYPE html>
<html lang="ru">
    <head>
        {{#block "head"}}
            <meta charset="{{ meta.charset }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ page.title }}</title>
            <meta name="description" content="{{ meta.description }}">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.16/jquery.touchSwipe.min.js"></script>

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

            <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

            <link rel="stylesheet" href="{{publicHost}}/main.css">
        {{/block}}
    </head>
    <body>
        {{#block "errors"}}
            <div class="errors-wrapper">
                {{#if errors}}
                    {{>errors/errors}}
                {{/if}}
            </div>
        {{/block}}
        <div class="wrapper">
                {{#block "header"}}
                    {{> header/header }}
                {{/block}}

                {{#block "sidebar"}}
                    {{> sidebar/sidebar }}
                {{/block}}


                <div class="body-content-wrapper">
                    {{#block "body"}}
                        <div class="container">
                            <div class="text-center">
                                <h3>Добро пожаловать!</h3>
                            </div>
                        </div>
                    {{/block}}
                </div>

                {{#block "footer"}}
                    {{> footer/footer }}
                {{/block}}
        </div>
        {{#block "scripts"}}
            <script src="https://use.fontawesome.com/9ec8bac3ed.js"></script>
            <script src="{{publicHost}}/main.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {{/block}}
    </body>
</html>
