<!DOCTYPE html>
<html lang="ru">
    <head>
        {{#block "head"}}
            <meta charset="{{ meta.charset }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ page.title }}</title>
            <meta name="description" content="{{ meta.description }}">

            <link rel="stylesheet" href="{{publicHost}}/main.css">
        {{/block}}
    </head>
    <body>
        <div class="wrapper">
                {{#block "header"}}
                    {{> header/header }}
                {{/block}}

                <div class="body-content-wrapper">
                    {{#block "body"}}
                        <div class="container">
                            <div class="text-center">
                                <h3>Добро пожаловать!</h3>
                            </div>
                        </div>
                    {{/block}}
                </div>

                {{#block "footer"}}
                    {{> footer/footer }}
                {{/block}}
        </div>
        {{#block "scripts"}}
            <script src="{{publicHost}}/main.js"></script>
        {{/block}}
    </body>
</html>
